<div class="app-header">
  <div class="app-navbar toolbar toolbar-md">
    <div class="toolbar-background toolbar-background-md"></div>
    <div class="toolbar-content toolbar-content-md">
      <img style="margin-left: 30px;" alt="Chat 24" class="img-responsive" src="assets/img/app-logo-48.png">
      <!-- <x-sign>
        Chat 24<small>&mdash; Random Chat App</small>
     </x-sign> -->
     <p class="logo">
        Chat 24 &mdash; Random Chat App
     </p>
    </div>
    
  </div>
</div>

<div class="app-navbar">
  <div class="fixed-content">
    <router-outlet></router-outlet>
  </div>
  
</div>